# Buscando os Dados do CNES #

## O codigo abaixo pega os dados direto to FTP do CNES e tranforma em um DF do Pandas.

A função **read_dbc_geopandas** é baseada na função read_dbc, porém ela usa o geopandas para fazer a leitura do DBF, pois o dbfread não estava conseguindo abrir os DBFs do CNES.

In [1]:
!pip install pysus
!pip install geopandas

from datetime import datetime
from tempfile import NamedTemporaryFile
import geopandas as gpd
import os
from ftplib import FTP
from pysus.utilities.readdbc import read_dbc, dbc2dbf
from dbfread import DBF
import pandas as pd
from pysus.online_data import CACHEPATH

Requirement already satisfied: pysus in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (0.6.4)
Requirement already satisfied: pandas==1.4.3 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.4.3)
Requirement already satisfied: pycparser==2.21 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (2.21)
Requirement already satisfied: six==1.16.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.16.0)
Requirement already satisfied: python-dateutil==2.8.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (2.8.2)
Requirement already satisfied: fastparquet<0.9.0,>=0.8.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (0.8.3)
Requirement already satisfied: elasticsearch<9.0.0,>=8.3.3 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (8.5.3)
Requirement already satisfied: loguru<0.7.0,>=0.6.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (0.6.0)
Requirement already satisfied: pyarrow<10.0.0,>=9.0.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (9.0.0)
Requirement already satisfied: pyreaddbc==1.0.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.0.0)
Requirement already satisfied: dbfread==2.0.7 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (2.0.7)
Requirement already satisfied: numpy==1.23.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.23.2)
Requirement already satisfied: jupyterlab<4.0.0,>=3.4.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (3.5.2)
Requirement already satisfied: cffi==1.15.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.15.1)
Requirement already satisfied: tqdm==4.64.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (4.64.0)
Requirement already satisfied: wget<4.0,>=3.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (3.2)
Requirement already satisfied: pytz==2022.2.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (2022.2.1)
Requirement already satisfied: geocoder<2.0.0,>=1.38.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pysus) (1.38.1)
Requirement already satisfied: elastic-transport<9,>=8 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from elasticsearch<9.0.0,>=8.3.3->pysus) (8.4.0)
Requirement already satisfied: packaging in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fastparquet<0.9.0,>=0.8.1->pysus) (21.3)
Requirement already satisfied: cramjam>=2.3.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fastparquet<0.9.0,>=0.8.1->pysus) (2.6.2)
Requirement already satisfied: fsspec in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fastparquet<0.9.0,>=0.8.1->pysus) (2022.7.1)
Requirement already satisfied: requests in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geocoder<2.0.0,>=1.38.1->pysus) (2.28.1)
Requirement already satisfied: ratelim in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geocoder<2.0.0,>=1.38.1->pysus) (0.1.6)
Requirement already satisfied: click in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geocoder<2.0.0,>=1.38.1->pysus) (8.0.4)
Requirement already satisfied: future in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geocoder<2.0.0,>=1.38.1->pysus) (0.18.2)
Requirement already satisfied: tornado>=6.1.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (6.1)
Requirement already satisfied: nbclassic in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (0.3.5)
Requirement already satisfied: tomli in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (2.0.1)
Requirement already satisfied: notebook<7 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (6.4.12)
Requirement already satisfied: jupyter-core in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (4.11.1)
Requirement already satisfied: jupyter-server<3,>=1.16.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (1.18.1)
Requirement already satisfied: jupyterlab-server~=2.10 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (2.10.3)
Requirement already satisfied: ipython in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (7.31.1)
Requirement already satisfied: jinja2>=2.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab<4.0.0,>=3.4.5->pysus) (2.11.3)
Requirement already satisfied: urllib3<2,>=1.26.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from elastic-transport<9,>=8->elasticsearch<9.0.0,>=8.3.3->pysus) (1.26.11)
Requirement already satisfied: certifi in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from elastic-transport<9,>=8->elasticsearch<9.0.0,>=8.3.3->pysus) (2022.9.14)
Requirement already satisfied: MarkupSafe>=0.23 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jinja2>=2.1->jupyterlab<4.0.0,>=3.4.5->pysus) (2.0.1)
Requirement already satisfied: nbconvert>=6.4.4 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (6.4.4)
Requirement already satisfied: pyzmq>=17 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (23.2.0)
Requirement already satisfied: prometheus-client in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.14.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (7.3.4)
Requirement already satisfied: websocket-client in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.58.0)
Requirement already satisfied: anyio<4,>=3.1.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (3.5.0)
Requirement already satisfied: nbformat>=5.2.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (5.5.0)
Requirement already satisfied: terminado>=0.8.3 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.13.1)
Requirement already satisfied: traitlets>=5.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (5.1.1)
Requirement already satisfied: Send2Trash in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.8.0)
Requirement already satisfied: argon2-cffi in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (21.3.0)
Requirement already satisfied: entrypoints>=0.2.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (0.4)
Requirement already satisfied: jsonschema>=3.0.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (4.16.0)
Requirement already satisfied: babel in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (2.9.1)
Requirement already satisfied: json5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (0.9.6)
Requirement already satisfied: nest-asyncio>=1.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (1.5.5)
Requirement already satisfied: ipython-genutils in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (0.2.0)
Requirement already satisfied: ipykernel in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (6.15.2)

Requirement already satisfied: jedi>=0.16 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.18.1)
Requirement already satisfied: pygments in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (2.11.2)
Requirement already satisfied: matplotlib-inline in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.1.6)
Requirement already satisfied: pickleshare in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.7.5)
Requirement already satisfied: backcall in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (63.4.1)
Requirement already satisfied: decorator in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (4.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from packaging->fastparquet<0.9.0,>=0.8.1->pysus) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from requests->geocoder<2.0.0,>=1.38.1->pysus) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from requests->geocoder<2.0.0,>=1.38.1->pysus) (3.3)
Requirement already satisfied: sniffio>=1.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from anyio<4,>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab<4.0.0,>=3.4.5->pysus) (21.4.0)
Requirement already satisfied: bleach in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (4.1.0)
Requirement already satisfied: jupyterlab-pygments in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.1.2)
Requirement already satisfied: defusedxml in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.7.1)
Requirement already satisfied: testpath in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.6.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.5.13)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.8.4)
Requirement already satisfied: beautifulsoup4 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (4.11.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (1.5.0)
Requirement already satisfied: fastjsonschema in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from nbformat>=5.2.0->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (2.16.2)
Requirement already satisfied: ptyprocess>=0.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.7.0)
Requirement already satisfied: wcwidth in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab<4.0.0,>=3.4.5->pysus) (0.2.5)
Requirement already satisfied: argon2-cffi-bindings in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (1.5.1)
Requirement already satisfied: psutil in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0,>=3.4.5->pysus) (5.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (2.3.1)
Requirement already satisfied: webencodings in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab<4.0.0,>=3.4.5->pysus) (0.5.1)
Requirement already satisfied: geopandas in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: packaging in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geopandas) (21.3)
Requirement already satisfied: pandas>=1.0.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geopandas) (1.4.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geopandas) (3.4.1)
Requirement already satisfied: fiona>=1.8 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from geopandas) (2.0.0)
Requirement already satisfied: attrs>=17 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (63.4.1)
Requirement already satisfied: click-plugins>=1.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: six>=1.7 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: certifi in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2022.9.14)
Requirement already satisfied: click>=4.0 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: munch in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: pytz>=2020.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2022.2.1)
Requirement already satisfied: numpy>=1.18.5 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/cezarcarmo/anaconda3/lib/python3.9/site-packages (from packaging->geopandas) (3.0.9)

In [2]:
group_dict = {
        "LT" :  ["Leitos - A partir de Dez/2019", 12, 2019],
}

def download(group: str, state: str, year: int, month: int, cache: bool=True) -> object:
    """
    Download CNES records for group, state, year and month and returns dataframe
    :param group: 
        LT – Leitos - A partir de Dez/2019
    :param month: 1 to 12
    :param state: 2 letter state code
    :param year: 4 digit integer
    """
    #state = state.upper()
    year2 = str(year)[-2:]
    month = str(month).zfill(2)
    input_date = datetime(int(year), int(month), 1)
    avaiable_date = datetime(group_dict[group][2], group_dict[group][1], 1)
    if input_date < avaiable_date:
        raise ValueError(f"CNES does not contain data for {group_dict[group][1]}")
    ftp = FTP('ftp.datasus.gov.br')
    ftp.login()
    if input_date >= avaiable_date:
        ftype = 'DBC'
        ftp.cwd('dissemin/publicos/CNES/200508_/Dados/{}/'.format(group))
        fname = '{}{}{}{}.dbc'.format(group, state, str(year2).zfill(2), month)
    cachefile = os.path.join(CACHEPATH, 'CNES_' + fname.split('.')[0] + '_.parquet')
    if os.path.exists(cachefile):
        df = pd.read_parquet(cachefile)
        return df
    df = _fetch_file(fname, ftp, ftype)
    if cache:
        df.to_parquet(cachefile)
    return df

def _fetch_file(fname, ftp, ftype):
    try:
        ftp.retrbinary('RETR {}'.format(fname), open(fname, 'wb').write)
    except:
        raise Exception("File {} not available".format(fname))
    if ftype == 'DBC':
        df = read_dbc_geopandas(fname, encoding='iso-8859-1')
    elif ftype == 'DBF':
        dbf = DBF(fname, encoding='iso-8859-1')
        df = pd.DataFrame(list(dbf))
    os.unlink(fname)
    return df

def read_dbc_geopandas(filename,encoding='utf-8'):
    """
    Opens a DATASUS .dbc file and return its contents as a pandas
    Dataframe, using geopandas
    :param filename: .dbc filename
    :param encoding: encoding of the data
    :return: Pandas Dataframe.
    """
    if isinstance(filename, str):
        filename = filename
    with NamedTemporaryFile(delete=False) as tf:
        out = tf.name + '.dbf'
        dbc2dbf(filename, out)
        dbf = gpd.read_file(out, encoding=encoding).drop("geometry",axis=1)
        df = pd.DataFrame(dbf)
    os.unlink(tf.name)

    return df

In [3]:
LT_GO_DEZ_2019 = download('LT',"GO", 2019, 12)

In [4]:
LT_GO_DEZ_2019.head()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,9331603,520010,None,None,None,None,M,3,00000000000000,3,...,None,None,2,33,9,0,9,0,201912,1244
1,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,2,41,2,0,2,0,201912,2062
2,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,1,03,2,0,1,1,201912,2062
3,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,4,10,1,0,1,0,201912,2062
4,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,6,34,4,0,3,1,201912,2062

In [8]:
GO_01_2020 = download('LT',"GO", 2020, 1)
GO_02_2020 = download('LT',"GO", 2020, 2)
GO_03_2020 = download('LT',"GO", 2020, 3)
GO_04_2020 = download('LT',"GO", 2020, 4)
GO_05_2020 = download('LT',"GO", 2020, 5)
GO_06_2020 = download('LT',"GO", 2020, 6)
GO_07_2020 = download('LT',"GO", 2020, 7)
GO_08_2020 = download('LT',"GO", 2020, 8)
GO_09_2020 = download('LT',"GO", 2020, 9)
GO_10_2020 = download('LT',"GO", 2020, 10)
GO_11_2020 = download('LT',"GO", 2020, 11)
GO_12_2020 = download('LT',"GO", 2020, 12)

In [9]:
LT_GO_2020 = pd.concat([GO_01_2020,GO_01_2020,GO_02_2020,GO_03_2020,GO_04_2020,
                        GO_05_2020,GO_06_2020,GO_07_2020,GO_08_2020,GO_09_2020,
                        GO_10_2020,GO_11_2020, GO_12_2020], axis=0)

In [10]:
LT_GO_2020.head()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,9331603,520010,None,None,None,None,M,3,00000000000000,3,...,None,None,2,33,9,0,9,0,202001,1244
1,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,4,43,3,0,3,0,202001,2062
2,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,1,03,2,0,1,1,202001,2062
3,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,2,41,2,0,2,0,202001,2062
4,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,6,34,4,0,3,1,202001,2062

In [11]:
GO_01_2021 = download('LT',"GO", 2021, 1)
GO_02_2021 = download('LT',"GO", 2021, 2)
GO_03_2021 = download('LT',"GO", 2021, 3)
GO_04_2021 = download('LT',"GO", 2021, 4)
GO_05_2021 = download('LT',"GO", 2021, 5)
GO_06_2021 = download('LT',"GO", 2021, 6)
GO_07_2021 = download('LT',"GO", 2021, 7)
GO_08_2021 = download('LT',"GO", 2021, 8)
GO_09_2021 = download('LT',"GO", 2021, 9)
GO_10_2021 = download('LT',"GO", 2021, 10)
GO_11_2021 = download('LT',"GO", 2021, 11)
GO_12_2021 = download('LT',"GO", 2021, 12)

In [12]:
LT_GO_2021 = pd.concat([GO_01_2021,GO_01_2021,GO_02_2021,GO_03_2021,GO_04_2021,
                        GO_05_2021,GO_06_2021,GO_07_2021,GO_08_2021,GO_09_2021,
                        GO_10_2021,GO_11_2021, GO_12_2021], axis=0)

In [13]:
LT_GO_2021.head()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,9331603,520010,None,None,None,None,M,3,00000000000000,3,...,None,None,2,33,9,0,9,0,202101,1244
1,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,6,34,4,0,3,1,202101,2062
2,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,1,03,2,0,1,1,202101,2062
3,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,5,45,3,0,3,0,202101,2062
4,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,4,43,3,0,3,0,202101,2062

In [14]:
GO_01_2022 = download('LT',"GO", 2022, 1)
GO_02_2022 = download('LT',"GO", 2022, 2)
GO_03_2022 = download('LT',"GO", 2022, 3)
GO_04_2022 = download('LT',"GO", 2022, 4)
GO_05_2022 = download('LT',"GO", 2022, 5)
GO_06_2022 = download('LT',"GO", 2022, 6)
GO_07_2022 = download('LT',"GO", 2022, 7)
GO_08_2022 = download('LT',"GO", 2022, 8)
GO_09_2022 = download('LT',"GO", 2022, 9)
GO_10_2022 = download('LT',"GO", 2022, 10)
GO_11_2022 = download('LT',"GO", 2022, 11)

In [15]:
LT_GO_2022 = pd.concat([GO_01_2022,GO_01_2022,GO_02_2022,GO_03_2022,GO_04_2022,
                        GO_05_2022,GO_06_2022,GO_07_2022,GO_08_2022,GO_09_2022,
                        GO_10_2022,GO_11_2022], axis=0)

In [16]:
LT_GO_2022.head()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,9331603,520010,None,None,None,None,M,3,00000000000000,3,...,None,None,2,33,9,0,9,0,202201,1244
1,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,2,41,2,0,2,0,202201,2062
2,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,1,03,2,0,1,1,202201,2062
3,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,6,34,4,0,3,1,202201,2062
4,2335506,520013,15,None,None,None,M,3,00269860000125,1,...,None,None,4,43,3,0,3,0,202201,2062

In [21]:
LT_GO_DEZ_2019.to_csv('LT_GO_DEZ_2019.csv', index=False)
LT_GO_2020.to_csv('LT_GO_2020.csv', index=False)
LT_GO_2021.to_csv('LT_GO_2021.csv', index=False)
LT_GO_2022.to_csv('LT_GO_2022.csv', index=False)

In [22]:
LT_GO_PAND_COV19 = pd.concat([LT_GO_DEZ_2019, LT_GO_2020, LT_GO_2021, LT_GO_2022], axis=0)

In [23]:
LT_GO_PAND_COV19.to_csv('LT_GO_PAND_COV19.csv', index=False)